body {
  margin: 0 auto;
  padding: 0;
  width: 375px;

  background: #3D6D91;

  font-family: 'Avenir Next';
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #FFF;
  text-align: center;
}