<div ng-controller="HuntsController as hunts">

  <h1>Create New Hunt</h1>

  <form ng-submit="hunts.createHunt()" class="form-horizontal">
    <fieldset>

      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" name="name" class="form-control" ng-model="hunts.newHunt.name" placeholder="Name">
        </div>
      </div>

      <div class="form-group">
        <label for="tagline" class="col-lg-2 control-label">Tagline</label>
        <div class="col-lg-10">
          <input type="text" name="tagline" class="form-control" ng-model="hunts.newHunt.tagline" placeholder="Tagline">
        </div>
      </div>

      <div class="form-group">
        <label for="image" class="col-lg-2 control-label">Image</label>
        <div class="col-lg-10">
          <input type="text" name="image" class="form-control" ng-model="hunts.newHunt.image" placeholder="Image">
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea name="description" class="form-control" rows="2" ng-model="hunts.newHunt.description" placeholder="Description"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="location" class="col-lg-2 control-label">Location</label>
        <div class="col-lg-10">
          <input type="text" name="location" class="form-control" ng-model="hunts.newHunt.location" placeholder="Location">
        </div>
      </div>

      <div class="form-group">
        <label for="price" class="col-lg-2 control-label">Price</label>
        <div class="col-lg-10">
          <input type="number" name="price" class="form-control" ng-model="hunts.newHunt.price" placeholder="Price">
        </div>
      </div>

      <div class="form-group">
        <label for="start_time" class="col-lg-2 control-label">Starts</label>
        <div class="col-lg-10">
          <input type="datetime-local" name="start_time" class="form-control" ng-model="hunts.newHunt.start_time">
        </div>
      </div>

      <div class="form-group">
        <label for="end_time" class="col-lg-2 control-label">Ends</label>
        <div class="col-lg-10">
          <input type="datetime-local" name="end_time" class="form-control" ng-model="hunts.newHunt.end_time">
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="text" name="password" class="form-control" ng-model="hunts.newHunt.password" placeholder="Password">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create Hunt</button>
    </fieldset>
  </form>
</div>